<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appForPt</key>
	<string>TextEdit</string>
	<key>appForRt</key>
	<string>TextEdit</string>
	<key>appForWeb</key>
	<string>Safari</string>
	<key>appForPdf</key>
	<string>Preview</string>
	<key>appForMsWord</key>
	<string>TextEdit</string>
	<key>appForOpenOffice</key>
	<string>TextEdit</string>
	<key>clustMinNum</key>
	<integer>0</integer>
	<key>collocMinNum</key>
	<integer>0</integer>
	<key>wordMinNum</key>
	<integer>0</integer>
	<key>ngramMinNum</key>
	<integer>2</integer>
	<key>concContextColor1</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=</data>
	<key>concContextColor2</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=</data>
	<key>concContextColor3</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg83MzD2DmpkZP4PNzMw9AYY=</data>
	<key>concContextColor4</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg5qZGT+D/zZFPoP/NkU+AYY=</data>
	<key>concContextWordStyle</key>
	<integer>0</integer>
	<key>concContextViewCheck</key>
	<true/>
	<key>concContextViewFontSize</key>
	<integer>13</integer>
	<key>concCopyContextColor</key>
	<true/>
	<key>concCopyContextStyle</key>
	<true/>
	<key>concExportContextLeftChoice</key>
	<integer>5</integer>
	<key>concExportContextRightChoice</key>
	<integer>4</integer>
	<key>concLeftSpan</key>
	<integer>6</integer>
	<key>concRightSpan</key>
	<integer>6</integer>
	<key>concLeftContextSpan</key>
	<integer>5</integer>
	<key>concRightContextSpan</key>
	<integer>14</integer>
	<key>concLeftExcludeSpan</key>
	<integer>5</integer>
	<key>concRightExcludeSpan</key>
	<integer>14</integer>
	<key>corpusMode</key>
	<integer>0</integer>
	<key>corpusFileTypeChoice</key>
	<integer>0</integer>
	<key>concFontType</key>
	<integer>0</integer>
	<key>concFontSize</key>
	<integer>14</integer>
	<key>concFontAry</key>
	<array>
		<dict>
			<key>fontName</key>
			<string>Courier</string>
			<key>localizedFontName</key>
			<string>Courier</string>
		</dict>
		<dict>
			<key>fontName</key>
			<string>Courier New</string>
			<key>localizedFontName</key>
			<string>Courier New</string>
		</dict>
	</array>
	<key>concPlotChoice</key>
	<integer>0</integer>
	<key>concPlotHeight</key>
	<integer>50</integer>
	<key>concPlotWidth</key>
	<integer>600</integer>
	<key>concPlotHeightExport</key>
	<integer>50</integer>
	<key>concPlotWidthExport</key>
	<integer>600</integer>
	<key>scopeOfContextChoice</key>
	<integer>0</integer>
	<key>concPlotScope</key>
	<integer>0</integer>
	<key>concPlotOrder</key>
	<integer>0</integer>
	<key>concPlotExportChoice</key>
	<integer>0</integer>
	<key>concPlotColor0</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJmZgABhg==</data>
	<key>concPlotColor1</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=</data>
	<key>concPlotColor2</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=</data>
	<key>concPlotColor3</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg83MzD2DmpkZP4PNzMw9AYY=</data>
	<key>concPlotSkipNF</key>
	<true/>
	<key>concTableRowHeight</key>
	<integer>17</integer>
	<key>concCorpusSelection</key>
	<integer>0</integer>
	<key>collocDatabaseSelection</key>
	<integer>0</integer>
	<key>leftCorpusSelection</key>
	<integer>0</integer>
	<key>rightCorpusSelection</key>
	<integer>0</integer>
	<key>leftDatabaseSelection</key>
	<integer>0</integer>
	<key>rightDatabaseSelection</key>
	<integer>0</integer>
	<key>currentTab</key>
	<integer>0</integer>
	<key>contextTagsToIgnoreType</key>
	<integer>0</integer>
	<key>contextSpecificTags</key>
	<string></string>
	<key>endOfHeaderTag</key>
	<string></string>
	<key>eosChars</key>
	<string></string>
	<key>defaultEncoding</key>
	<integer>0</integer>
	<key>fileHandleMode</key>
	<integer>0</integer>
	<key>fileEncoding</key>
	<integer>0</integer>
	<key>fileInfoTableCopyTotalsCheck</key>
	<true/>
	<key>fileInfoDisplayCol</key>
	<integer>200</integer>
	<key>fileInfoSTTRNum</key>
	<integer>1000</integer>
	<key>fileInfoTFIDFSortChoice</key>
	<integer>0</integer>
	<key>fileInfoWFStdChoice</key>
	<integer>0</integer>
	<key>fileInfoWFStdPerWds</key>
	<integer>1000</integer>
	<key>fileInfoTableColLimitCheck</key>
	<true/>
	<key>fileInfoTableColLimitNum</key>
	<integer>200</integer>
	<key>fileInfoKKeyGroupEntryDivider</key>
	<integer>0</integer>
	<key>ignoreStringsAry</key>
	<array/>
	<key>keywordBlankChoice</key>
	<integer>0</integer>
	<key>keywordBlankNum</key>
	<integer>7</integer>
	<key>kwgGroupChoice</key>
	<integer>0</integer>
	<key>kwgGroups</key>
	<array/>
	<key>lemmaGroupChoice</key>
	<integer>0</integer>
	<key>lemmaGroups</key>
	<array/>
	<key>mode</key>
	<integer>0</integer>
	<key>numberHandleChoice</key>
	<integer>0</integer>
	<key>partOfWordChars</key>
	<string></string>
	<key>replaceCharsAry</key>
	<array>
		<dict>
			<key>check</key>
			<true/>
			<key>fromChar</key>
			<string>“</string>
			<key>toChar</key>
			<string>&quot;</string>
		</dict>
		<dict>
			<key>check</key>
			<true/>
			<key>fromChar</key>
			<string>”</string>
			<key>toChar</key>
			<string>&quot;</string>
		</dict>
		<dict>
			<key>check</key>
			<true/>
			<key>fromChar</key>
			<string>‘</string>
			<key>toChar</key>
			<string>&apos;</string>
		</dict>
		<dict>
			<key>check</key>
			<true/>
			<key>fromChar</key>
			<string>’</string>
			<key>toChar</key>
			<string>&apos;</string>
		</dict>
		<dict>
			<key>check</key>
			<true/>
			<key>fromChar</key>
			<string>—</string>
			<key>toChar</key>
			<string>-</string>
		</dict>
		<dict>
			<key>check</key>
			<true/>
			<key>fromChar</key>
			<string>–</string>
			<key>toChar</key>
			<string>-</string>
		</dict>
		<dict>
			<key>check</key>
			<true/>
			<key>fromChar</key>
			<string> </string>
			<key>toChar</key>
			<string> </string>
		</dict>
		<dict>
			<key>fromChar</key>
			<string>\t</string>
		</dict>
		<dict>
			<key>fromChar</key>
			<string>ꞌ</string>
			<key>toChar</key>
			<string>&apos;</string>
		</dict>
	</array>
	<key>replaceCharToProcess</key>
	<dict/>
	<key>replaceCharToProcessText</key>
	<string></string>
	<key>resultFontSize</key>
	<integer>13</integer>
	<key>searchWordMode</key>
	<integer>0</integer>
	<key>searchWordHistoryNum</key>
	<integer>15</integer>
	<key>sectionTagsAry</key>
	<array/>
	<key>sectionTagHandlingChoice</key>
	<integer>0</integer>
	<key>sortOrder</key>
	<array>
		<dict>
			<key>sortOrder</key>
			<string>R1-R2-R3</string>
		</dict>
		<dict>
			<key>sortOrder</key>
			<string>L1-L2-L3</string>
		</dict>
		<dict>
			<key>sortOrder</key>
			<string>L1-R1-R2</string>
		</dict>
		<dict>
			<key>sortOrder</key>
			<string>Key-R1-R2</string>
		</dict>
		<dict>
			<key>sortOrder</key>
			<string>L1-Key-R1</string>
		</dict>
		<dict>
			<key>sortOrder</key>
			<string>Key-L1-R1</string>
		</dict>
	</array>
	<key>specificTags</key>
	<string></string>
	<key>spVarGroupChoice</key>
	<integer>0</integer>
	<key>spVarGroups</key>
	<array/>
	<key>tagsToIgnoreType</key>
	<integer>0</integer>
	<key>wcHandlerGroup</key>
	<integer>0</integer>
	<key>wcHandlerGroupList</key>
	<array/>
</dict>
</plist>
